<div class="flex flex-col md:flex-row">
  <div class="products-list md:w-1/2">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <span>{{ product.price | currency }}</span>
      <button (click)="editProduct(product._id)" class="button-primary">
        Edit
      </button>
      <button (click)="deleteProduct(product._id)" class="button-danger">
        Delete
      </button>
    </div>
  </div>

  <div class="product-form md:w-1/2">
    <form
      [formGroup]="productForm"
      autocomplete="on"
      (ngSubmit)="createProduct()"
      class="rounded-md border border-solid border-primary-500/25 size-full flex flex-col justify-center items-center py-5"
    >
      <div class="flex mb-10">
        <h3 class="my-auto text-3xl font-black">CREATE PRODUCT</h3>
      </div>
      <div class="form-field">
        <label for="name">Name</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          class="selection:bg-primary-200/20"
        />
      </div>
      <div class="form-field">
        <label for="description">Description</label>
        <input
          formControlName="description"
          type="text"
          name="description"
          id="description"
          class="selection:bg-primary-200/20"
        />
      </div>
      <div class="form-field">
        <label for="price">Price</label>
        <input
          formControlName="price"
          type="number"
          name="price"
          id="price"
          class="selection:bg-primary-200/20"
        />
      </div>
      <div class="form-field">
        <label for="rating">Rating</label>
        <input
          formControlName="rating"
          type="number"
          name="rating"
          id="rating"
          class="selection:bg-primary-200/20"
        />
      </div>
      <div class="form-field">
        <label for="sizes">Sizes</label>
        <input
          formControlName="sizes"
          type="text"
          name="sizes"
          id="sizes"
          class="selection:bg-primary-200/20"
        />
      </div>
      <div class="form-field">
        <label for="stock">Stock</label>
        <input
          formControlName="stock"
          type="number"
          name="stock"
          id="stock"
          class="selection:bg-primary-200/20"
        />
      </div>
      <div class="form-field">
        <label for="image">Image URL</label>
        <input
          formControlName="image"
          type="text"
          name="image"
          id="image"
          class="selection:bg-primary-200/20"
          (input)="updateImagePreview()"
        />
      </div>
      <div class="form-field">
        <img
          [src]="imagePreview"
          alt="Image Preview"
          *ngIf="imagePreview"
          class="image-preview"
        />
      </div>
      <div class="form-field">
        <button type="submit" class="button-primary">Create</button>
      </div>
    </form>
  </div>
</div>
