<h2 class="w-full text-center font-bold text-3xl">My orders</h2>
<div class="invoice-list">
  <div *ngFor="let invoice of invoices" class="invoice-item mt-4">
    <p>Invoice ID: {{ invoice._id }}</p>
    <p>Date: {{ invoice.date | date }}</p>
    <p>Products:</p>
    <ul class="flex">
      <li
        *ngFor="let product of invoice.products"
        class="shadow-sm p-2 mb-2 bg-gray-50 rounded border border-gray-300"
      >
        <p>
          <span class="font-bold">{{ product.name }}</span> |
          {{ product.price | currency }}
        </p>
        <span> Quantity: {{ product.quantity }} | </span>
        <span> Total: {{ product.quantity * product.price | currency }} </span>
        <img [src]="product.image" alt="" class="h-10 object-contain" />
      </li>
    </ul>
    <p class="text-lg font-bold">Total: {{ invoice.total | currency }}</p>
    <hr />
  </div>
</div>
